html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to top, rgb(66, 64, 64), rgba(65, 60, 60, 0.6));
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/*layout.html*/
.header{
    position: sticky;
    z-index: 1;
    top:0;
    background-color: rgb(27, 26, 26);
    padding: 20px 10%;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header a{
    color: aliceblue;
    text-decoration: none;
    transition: all 0.2s ease 0.2s;
}
.header a:hover{
    color: aqua;
}
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    margin-right: auto;
}
.navigation{
    display: inline-block;
}
.div-link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
}
.link{
    margin: 10px;
}
.button{
    padding: 9px 25px;
    background-color: rgb(132, 132, 236);
    border-radius: 50px;
    border: none;
    transition: all 0.2s ease 0.2s;
    font-size: large;
    font-weight: bold;
    color: aliceblue;
}
.button:hover{
    background-color: rgba(113, 113, 238, 0.6);
}
.div-button div {
    display: none;
    position: absolute;
    z-index: 1;
    max-width: 100%;
    box-sizing: border-box;
    padding: 9px;
    transition: all 0.3s ease 0.3s;
    border-radius: 20px;
}
.div-button:hover .dropdown{
    display: block;
    background-color: black;
}
.dropdown a{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease 0.2s;
}
.dropdown a:hover{
    background-color: rgba(0, 0, 0, 0.6);
    background: transparent;
}
.block{
    position: relative;
    top: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*registratio/login html*/
.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.form{
    position: absolute;
    left: 30%;
    top: 2em;
    max-width: 500px;
}
.fieldset{
    background-color: rgb(47, 48, 45, 0.5);
    border: none;
    padding: 0;
    margin: 0;
}
.div-form{
    display: flex;
    flex-direction: row;
}
.div-field{
    background-color: black;
    margin-right: 40px;
    text-align: center;
}
.paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: aliceblue;
    top: 50%;
}
.div-field2{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.legend{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: aliceblue;
}
.label{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-top: 20px;
}
.input{
    margin-bottom: 20px;
    border: 0;
    background: transparent;
    border-bottom: 2px solid rgb(223, 231, 235);
    width: 80%;
    height: 25px;
}
.input:checked{
    border: blue solid 5px;
}
.div-submit{
    left: 50%;
    margin-bottom: 20px;
    padding: 0 40px;
}
.submit{
    background-color: rgb(103, 103, 231);
    border-radius: 5px;
    border: 0;
    transition: all 0.2s ease 0.2s;
    padding: 9px 15px;
    color: aliceblue;
    font-weight: bold;
 }
.submit:hover{
    background-color: rgba(103, 103, 231, 0.6);
}
.footer1{
    position: absolute;
}
.p-footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: aliceblue;
}
.f-link:visited{
    color: red;
}

/*home*/
.head1{
    left: 50%;
    margin: 20px 0;
    text-align: center;
}
.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;
}
.page-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.link2{
    text-decoration: none;
}
.box{
    background-color: darkgrey;
    transition: all 0.2s ease-out 0.2s;
    margin: 5px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}
.box:hover{
    background-color: beige;
    transform: scale(1.1, 1.1);
}
.page-menu >.link2:nth-child(1)> .box{
    background-image: url('ubisoft.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page-menu >.link2:nth-child(2)> .box{
    background-image: url('rockstar.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page-menu >.link2:nth-child(3)> .box{
    background-image: url('bethesda.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.page-menu >.link2:nth-child(4)> .box{
    background-image: url('activision.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.full-info  h{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    color: white;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: white;
}
.space{
    left: 50%;
    margin: 40px;
    text-align: center;
}
.text2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/*about*/
.about{
    align-items: center;
    top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
#image{
    animation-name: image2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 0.3s ease-in 0.1s;
    position: relative;
}
.image-file{
    border: none;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-right: 100px;
}
#info{
    text-align: center;
    max-width: 100%;
    position: relative;
    transition: all 0.3s ease-in 0.1s;
    animation-name: info2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes image2{
    0%   {left: -700px;}
    100% {left: 0;}
}
@keyframes info2{
    0%   {right: -700px;}
    100% {right: 0;}
}

/*footer*/
.footer2{
    position: relative;
    top: 90vh;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
}
.head{
    text-align: center;
}
.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 0;
    margin: 0;
}
.media{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 40px;
}
.media li{
    display: inline-block;
    height: fit-content;
    width: 100%;
}
.media li a{
    color: white;
    size: 40px;
    transform: all 0.3s ease 0.3s;
}
.media li a:hover{
    transform: scale(1.2, 1.2);
    color: yellow;
}
