{% extends 'layout.html' %}
{%block content %}
    <div class='head1'>
        <h>Welcome to the Home page</h>
    </div>    
    <div class='page-menu'>
        <a class='link2' href='#head1'>
            <div class='box'>
                <h class='head'>Ubisoft</h>
                <p class='text'>Ubisoft Entertainment SA, French formerly Ubi Soft Entertainment SA) is a French video game company headquartered in Montreuil with several development studios across the world. It publishes games for several video game franchises</p>
            </div>
        </a>
        <a class='link2' href='#head2'>    
            <div class='box'>
                <h class='head'>Rockstart</h>
                <p class='text'>Rockstar Games, Inc. is an American video game publisher based in New York City. The company was established in December 1998 as a subsidiary of Take-Two Interactive, and as successor to BMG Interactive, a dormant video game publisher of which Take-Two had previously acquired the assets.</p>
            </div>
        </a>
        <a class='link2' href='#head3'>
            <div class='box'>
                <h class='head'>Bethesda</h>
                <p class='text'>Bethesda Softworks LLC is an American video game publisher based in Rockville, Maryland. The company was founded by Christopher Weaver in 1986 as a division of Media Technology Limited, and in 1999 became a subsidiary of ZeniMax Media</p>
            </div>
        </a>
        <a class='link2' href='#head4'>
            <div class='box'>
                <h class='head'>Activision</h>
                <p class='text'>Activision Blizzard, Inc. is an American video game holding company based in Santa Monica, California.[3] The company was founded in July 2008 through the merger of Activision, Inc. (the publicly traded parent company of Activision Publishing) and Vivendi Games.</p>
            </div>
        </a>
    </div>
    <div class='full-info'>
        <div class='space'>
            <h class='head'>Information</h>
        </div>
        <div class='ubi-paragraph'>
            <h><a id='head1'>About Ubisoft</a></h>
            <p class='text2'>The Guillemot family had established themselves as a farming support business for farmers in the Brittany province in northwest France and nearby regions, including into the United Kingdom. 
                            The five sons of the family – Christian, Claude, Gérard, Michel, and Yves – helped with the sales, distribution, accounting and management of the company with their parents before university. 
                            All five gained business experience while at university, which they brought back to the family business to help improve it, at a time where farming businesses were starting to wane. 
                            The brothers came up with the idea of diversification to sell other products of use to farmers; Claude began with selling CD audio media, and later the brothers expanded to computers and additional software which included video games.</p>
        </div>
        <div class='rock-paragraph'>
            <h><a id='head2'>About Rockstar</a></h>
            <p class='text2'>In May 1998, Take-Two Interactive acquired the assets of dormant British video game publisher BMG Interactive from its parent, BMG Entertainment (in turn a Bertelsmann subsidiary), in exchange for 1.85 million shares, around 16% of the company's common stock.
                            Through the acquisition, Take-Two Interactive gained rights to BMG Interactive-owned intellectual properties, including Grand Theft Auto and the upcoming Space Station Silicon Valley.
                            BMG Interactive executives Sam Houser, Dan Houser and Jamie King, as well as Terry Donovan of BMG Entertainment-owned record label Arista Records, subsequently moved to New York City to work for Take-Two Interactive.
                            In December 1998, the Houser brothers, Donovan and King established Rockstar Games as a subsidiary of Take-Two Interactive, acting as the company's high-end publishing label.
                            The formation was formally announced on January 22, 1999.</p>
        </div>
        <div class='beth-paragraph'>
            <h><a id='head3'>About Bethesda</a></h>
            <p class='text2'>Bethesda Softworks was founded by Weaver in Bethesda, Maryland, in 1986. 
                            It started as a division of Media Technology Limited, an engineering research and development firm of which Weaver was the founder and chief executive officer.
                            He created Bethesda "to see if the PC market was a viable place to develop games".[5] Weaver initially intended to name the company "Softworks" but found that the name was taken. 
                            Consequently, he prepended this name with that of Bethesda.</p>
        </div>
        <div class='acti-paragraph'>
            <h><a id='head4'>About Activision</a></h>
            <p class='text2'>In 1991, Bobby Kotick and a group of investors had acquired the failing Mediagenic, the company that Activision had become from former leadership. 
                            Kotick instituted a large restructuring to pull the company out of debt, including renaming the company as Activision and moving it to Santa Monica, California. 
                            After bringing the company back to profitability by 1997, Kotick spent the next decade expanding Activision's products through acquisitions of an estimated 25 studios,
                            which resulted in several successful series of games, including Tony Hawk's, Call of Duty, and Guitar Hero. 
                            However, by around 2006, the popularity of massively multiplayer online (MMO) games started to grow. Such games provide a constant revenue stream to their publishers, 
                            rather than only a single purchase, making them a more valuable proposition. None of Activision's subsidiaries had an MMO or the capability to make one quickly.
                            Furthering this, Activision was facing tougher competition from companies like Electronic Arts, as well as slowdowns in sales of their key game series
            </p>
        </div>
    </div>
{%endblock%}