<!DOCTYPE html>
<html>
<head>
    <meta>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>HTML/CSS</title>
</head>
<body>
    <div class='back'></div>
    <header class='header'>
        <a class='logo' href={{url_for('home')}}>HTML/CSS</a>
        <nav class='navigation'>
            <div class='div-link'>
                <a class='link' href={{url_for('home')}}>Home</a>
                <a class='link' href={{url_for('about')}}>About</a>
                <a class='link' href={{url_for('login')}}>Login</a>
                <a class='link' href={{url_for('registration')}}>Registration</a>
            </div>
        </nav>
        <div class='div-button'>
            <button class='button'>Contact</button>
            <div class='dropdown'>
                <a href='#'>nelliville51@gmail.com</a>
                <a href='#'>github(NelsonNNN)</a>
            </div>
        </div>
    </header>
    <div class='block'>
        <div class='container'>
        {% block content %}{% endblock %}
        </div>
        <div class='footer2'>
            <footer>
                <div class='head'>
                    <h class='head1'>Social Media contacts</h>
                    <p class='copyright'>© 2020 Nelliville Corporation</p>
                </div>
                <div class='media'>
                    <li><a href='#' class="fa fa-facebook"></a></li>
                    <li><a href='#' class="fa fa-github"></a></li>
                    <li><a href='#' class="fa fa-twitter"></a></li>
                    <li><a href='#' class="fa fa-instagram"></a></li>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>